html{
        background-image:none;

    background-color:#E3E7F8 !important;
}

#main, #ribbon{
        background-image:none;

    background-color:#E3E7F8 !important;
}


#left-panel {
background-color:#5E5EAC;
z-index:1000;
margin-top:0px;
padding-top:20px;
}
#left-panel ul{
background-color:#5E5EAC;
cursor:pointer;
}

#header {
background-color:#5E5EAC !important;

}
.jarviswidget-color-blueDark>header
{
    background-color:#5E5EAC !important;

}
.smart-style-1 .btn-header>:first-child>a {
    background: #5E5EAC;
    border: #5E5EAC;
}

.derecha{
    text-align:right;
}
table
{
    background-color:white;
}